# virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# uv
uv.lock

# Research
research/

# raw jsonl
data/crawl_eecs_raw.jsonl

# crawling
preprocessing/crawl_eecs.py